<title>Experiments with d3.js</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style1.css') }}">
<script src="http://d3js.org/d3.v3.js"></script>

<body>
	<div class="bar"></div>
	<div style="display: inline-block;
            width: 20px;
            height: 75px;
            background-color: teal;"></div>
	<script type="text/javascript">
	d3.select("body").selectAll("div")
    .data(dataset)
    .enter()
    .append("div")
    .attr("class", "bar");
	</script>
</body>